@import "@styles/variables.scss";
@import "foundation-sites/scss/foundation.scss";
.widgetBanner {
  position: relative;
  margin: 0 40px;
  width: auto;
  background-image: url("/public/");
}
.banerImage {
}
.txtBox {
max-width: 700px;
  border-radius: 25px;
  padding: 40px;
  position: absolute;
  bottom: 100px;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
